{
  "plugins": ["react", "react-native"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:jest/recommended"],
  "parser": "@babel/eslint-parser",
  "env": {
    "react-native/react-native": true
  },
  "rules": {
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "semi": "error",
    "arrow-spacing":"error",
    "indent": [ "error", "tab" ],
    "quotes": [ "error", "double", { "allowTemplateLiterals": true }],
    "object-curly-spacing": [ "error", "always" ],
    "no-mixed-spaces-and-tabs": "error",
    "no-trailing-spaces": "error"
    
  }
}